venv
.mypy_cache
.vscode
.DS_Store
__pycache__
*.html
*.zip
model.tf
images/chessboards
images/tiles
*.pth
resources/random_website_screenshots
resources/generated_images
resources/website_screenshots
resources/lichess_games
Figure_fen_0.939.png
models/*.pth
models/*.png
!models/best_model_bbox_0.958_2024-01-28-22-49-40.pth
!models/best_model_fen_0.953_2024-02-03-13-49-31.pth
!models/best_model_orientation_0.987_2024-02-04-17-34-05.pth
